@font-face {
  font-family: 'Roboto-Regular';
  src: url('Roboto-Regular.ttf')
}

// .container {
  // font-family: 'Roboto', sans-serif;
// }

.course_index {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.course_card {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #333333;
  width: 240px;
  border: solid #999999 0.5px;
  background-color: #D9D9D9;
  row-gap: 2px;
  padding: 1px;
  border-radius: 8px;
}

.course_title_info_like_container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 8px 8px 0px 0px;
}

.course_title_container {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
  // height: 45px;
}

.course_title_data {
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 120%;
}

.course_info_like_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// .course_info_container {}
// .course_number_container {}
// .course_number_data {}
// .course_section_count_container {}
// .course_section_count_data {}
// .course_credits_container {}
// .course_credits_data {}
  
.course_like_container {
  display: flex;
}

.course_like_data {
  font-size: 25px;
  color: #9966cc;
  display: inline-block;
  align-self: flex-end;
}

.course_eval_container {
  background-color: white;
  padding: 10px 5px 5px 5px;
  text-align: center;
  border-radius: 0px 0px 8px 8px;

}
.course_eval_header_container {
  font-size: 15px;
  font-style: italic;
  margin-bottom: 6px;
  color: #999999;
}

// .course_eval_header_data {}

.course_eval_info_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: content-box;
  padding: 5px;
}
// .course_overall_score_container {}

.course_overall_score_header {
  width: 70px;
  line-height: 90%;
}

.course_overall_score_data {
  font-weight: bold;
  font-size: 20px;
}

// .course_hours_required_container {}

.course_hours_required_header {
  width: 70px;
  line-height: 90%;
}

.course_hours_required_data {
  font-weight: bold;
  font-size: 20px;
  color: darkred;
}
