#sections_index {
  display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  gap: 25px 40px;
}

.section_card {
  border: solid #d3d3d3 1px;
  box-sizing: content-box;
  width: 250px;
  border-radius: 5px;
  color: #a9a9a9;
  // font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px 0px 10px 0px;
  // padding: 10px 5px 10px 5px;
}

.section_details_top_container {
 display: block;
 padding: 5px 5px 1px 5px;
}

.section_course_fav_container {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: space-between;
  padding-bottom: 1px;
}

.section_course_title_data {
  font-size: 15px;
  font-weight: bold;
  color: black;
  padding-top: 5px;
  padding-right: 3px;
}

.section_favorite_data {
  font-size: 25px;
  color: #ffcd3c;
}

.section_course_term_container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-bottom: 5px;
}

// .sections_course_data

.section_instructor_credits_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.syllabus_divider_data {
  background-color: blue;
  font-size: 0.5px;
}
// .section_instructor_data

// .section_credits_data

.section_details_middle_container {
  display: block;
}

.syllabus_link_content_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px 5px 5px 5px;
  color: blue;
}

.syllabus_data {
  padding-top: 7px;
}

.syllabus_arrow_data {
  font-size: 20px;
}

.section_day_time_loc_bottom_container {
  display: block;
  padding: 10px 5px 10px 5px;
}

.section_day_time_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// .section_day_container

// .section_day_header

.section_day_data {
  font-size: 16px;
  color: black;
}

// .section_start_time_container

// .section_start_time_header

.section_start_time_data {
  font-size: 16px;
  color: black;
}

.section_end_time_container {
  margin-bottom: 5px;
}

// .section_end_time_header

.section_end_time_data {
  font-size: 16px;
  color: black;
}

.section_location_container {
  display: inline-block;
  flex-grow: 1;
  // flex-basis: 100%;
}

// .section_location_data


// .container {
  // font-family: 'Roboto', sans-serif;
// }

.section_index2 {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.section_card2 {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #333333;
  width: 240px;
  border: solid #999999 0.5px;
  background-color: #D9D9D9;
  row-gap: 2px;
  padding: 1px;
  border-radius: 8px;
}

.section_title_info_fav_container2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 8px 8px 0px 0px;
}

.section_course_title_container2 {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.section_course_title_data2 {
  height: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 120%;
}

.section_info_fav_container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// .section_info_container2 {}

.section_number_quarter_container2 {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

// .section_number_data2 {}

// .section_quarter_container2 {}

// .section_quarter_data2 {}

// .section_instructor_container2 {}

// .section_instructor_data2 {}

// .section_credits_container2 {}

// .section_credits_data2 {}
.section_fav_container2 {
  display: flex;
}

.section_fav_data2 {
  font-size: 25px;
  color: #ffcd3c;
  display: inline-block;
  align-self: flex-end;
}

.section_day_time_loc_container2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
}

.section_day_time_container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

// .section_day_container2 {}

// .section_day_header2 {}
.section_day_data2 {
  font-size: 15px;
  font-weight: bold;
}

// .section_start_time_container2 {}

// .section_start_time_header2 {}
.section_start_time_data2 {
  font-size: 15px;
  font-weight: bold;
}

// .section_end_time_container2 {}

// .section_end_time_header2 {}

.section_end_time_data2 {
  font-size: 15px;
  font-weight: bold;
}

// .section_location_container2 {}

// .section_location_data {}

.section_syllabus_container2 {
  background-color: white;
  border-radius: 0px 0px 8px 8px;
  padding: 10px;
  color: blue;
}
// .section_syllabus_data {}
